{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Blog1</title>
  <link rel="icon" type="image/x-icon" href="logo.png">
  <link rel="stylesheet" href="{% static 'blog1a.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body>
  <!DOCTYPE html>
  <html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" href="./style1.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <script>
      window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
      };
      ga.l = +new Date;
      ga('create', 'UA-105392568-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>

  <body>
    <header>
		<a href="{% url 'home' %}" class="logo"><span>UI Tech</span></a>

		<ul class="navbar">
			<li><a href="{% url 'home' %}" class="active">Home</a></li>
			<li><a href="{% url 'blog' %}">Blog</a></li>
			<li><a href="{% url 'temp' %}">Templates</a></li>
			<li><a href="{% url 'aboutus' %}">About</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
		</ul>

		
    {% if user.is_authenticated %}
		<h4>Hello,{{user.username}}</h4>
		<a href="{% url 'logout' %}"><button class="glow-on-hover"> LOGOUT</button></a>
		{% else %}
		<div class="main">
			<a href="{% url 'login' %}" class="user"><i class="ri-user-fill"></i>Sign In</a>
			<a href="{% url 'register' %}">Register</a>
			<div class="bx bx-menu" id="menu-icon"></div>
		</div>
		{% endif %}
	</header>
  <section class="butt ">
    <a href="{% url 'B2' %}"><button class="btn1 glow-on-hover" id="btn1">
      Next Page
    </button></a>
  <div class="content1">
    <div class="title1">
      GOOD UI / BAD UI
      </div>
    <p class="txt">  From the above example its clear to us that any good User Interface consists not just the right content put up together but also how the content is placed. <br>
      Take a minute to observe the above image and think about the reasons why this ui was a bit shabby and didn’t had a good impact as the first one did. <br><br>
      
      Well the mistakes in the 2nd interface were: <br> <br>
      1.The colour scheme used was not properly maintained through the interface.(The colours of the buttons were not complementing with the background nor with each other) <br>
      2.The visibility of the text was not properly set so it was being camouflaged with the background. <br>
      3.The alignment of the text was improper. <br>
      4.The logo was much bigger than it should be set. <br>
      
    </p><center><img src="{% static 'UI.png' %}" alt="" width="550px" height="500px"></center>
  </div><br>
  <script>
    const button = document.querySelector('#btn1');

button.disabled = true;

window.addEventListener('scroll', () => {

  if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
    button.disabled = false;
  }
});
  </script>
  </body>

  </html>




