{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="icon" type="image/x-icon" href="logo.png">
  <link rel="stylesheet" href="{% static 'Blog.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body background-image: linear-gradient(color, color);>
  <!DOCTYPE html>
  <html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static './style.css' %}">
    <script>
      window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
      };
      ga.l = +new Date;
      ga('create', 'UA-105392568-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>

  <body >
    <header>
      <a href="{% url 'home' %}" class="logo"><span>UI Tech</span></a>
  
      <ul class="navbar">
        <li><a href="{% url 'home' %}" >Home</a></li>
        <li><a href="{% url 'blog' %}"class="active">Blog</a></li>
        <li><a href="{% url 'temp' %}">Templates</a></li>
        <li><a href="{% url 'aboutus' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
  
      {% if user.is_authenticated %}
		<h4>Hello,{{user.username}}</h4>
		<a href="{% url 'logout' %}"><button class="glow-on-hover"> LOGOUT</button></a>
		{% else %}
		<div class="main">
			<a href="{% url 'login' %}" class="user"><i class="ri-user-fill"></i>Sign In</a>
			<a href="{% url 'register' %}">Register</a>
			<div class="bx bx-menu" id="menu-icon"></div>
		</div>
		{% endif %}
    </header>
    <section>
      <div>
        <video id="background-video" autoplay loop muted poster="#" class="vid">
          <source src="{% static 'Blogs cc.mp4'%}" type="video/mp4" alt="hello">
        </video>
      </div>
    </section>
    
    <div id="courses">
      <section class="container">
        <h1 >Modules</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="featured-box">
              <!-- <i class="fa fa-cogs fa-2x"></i> -->

              <div class="text">
                <!-- <a href="{% url 'B1' %}">
                  <h3>UI/UX</h3>
                </a> -->
                <img src="{% static '1.png' %}" alt="" style="width: 200px; height: 200px;">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-box">
              <!-- <i class="fa fa-leaf fa-2x"></i> -->
              <div class="text">
                <!-- <a href="{% url 'B2' %}"">
                  <h3>FIGMA</h3>
                </a> -->

                <img src="{% static '2.png' %}" alt="" style="width: 200px; height: 200px;">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-box">
              <!-- <i class="fa fa-tachometer fa-2x"></i> -->
              <div class="text">
                <!-- <a href="{% url 'B3' %}">
                  <h3>TOOLS</h3>
                </a> -->

                <img src="{% static '3.png' %}" alt="" style="width: 200px; height: 200px;">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="featured-box">
              <!-- <i class="fa fa-eye fa-2x"></i> -->
              <div class="text">
                <!-- <a href="{% url 'B4' %}">
                  <h3>CREATING FIRST UI</h3>
                </a> -->

                <img src="{% static '5.png' %}" alt="" style="width: 200px; height: 200px;">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-box">
              <!-- <i class="fa fa-quote-right fa-2x"></i> -->
              <div class="text">
                <!-- <a href="{% url 'B5' %}">
                  <h3>CONNECTION</h3>
                </a> -->

                <img src="{% static '4.png' %}" alt="" style="width: 200px; height: 200px;">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-box">
              <!-- <i class="fa fa-arrows fa-2x"></i> -->
              <div class="text">
                <!-- <a href="{% url 'B6' %}">
                  <h3>CAREER</h3>
                </a> -->

                <img src="{% static '6.png' %}" alt="" style="width: 200px; height: 200px;">
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
    <section class="butt " >
      <a href="{% url 'B1' %}"><button class="btn1 glow-on-hover" align="center" id="btn1">
       START THE COURSE !
      </button></a>
    </section>
    <br>
    <br><br>
 
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">UI Tech <i>(Learn Explore Create)</i> is an initiative to help the upcoming
              UI designers. UI Tech focuses on providing the most accurate Documentation,Blogs,Videos and
              Templates for reference. In this course we will teach them to create a Good UI using Figma software. We
              will also provide certificate after the course is completed. </p>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="https://en.wikipedia.org/wiki/User_experience_design">UI/UX</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
              <li><a href="https://www.figma.com/">Figma</a></li>
              <li><a href="#">Blogs</a></li> <!--blog page link -->
              <li><a href="#">Templates</a></li> <!--Template page link -->
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li> <!--about us page link -->
              <li><a href="#">Contact Us</a></li> <!--contact page link -->
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
              <a href="index.html">UI Tech</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>

  </html>